## Definition of Set - 

A set is a group of elements that are not in any specific sequence. A Python set is comparable to this mathematical description, but with the additional requirements listed below.

The set's elements cannot be duplicate - if an element is present more than 2 times, it it will print only once.

The set's elements are immutable (cannot be changed), but the set as a whole is
mutable.

A python set has no indexes associated with its elements. As a result, no indexing or
slicing operations are supported.

In [1]:
#Print the duplicate values only once.

myset = {1,5,6,2,5,1,5,6,7,8}

myset

{1, 2, 5, 6, 7, 8}

## LIST - TUPLE - SETS - DICTIONARIES

## LIST

In [ ]:
# 1. Ordered, Index mix elements.
# 2. can perform operations like - Add, append, dupliucate, change, remove.
# 3. Mutable
# 4. Denoted with - []

## TUPLE

In [ ]:
# 1. Ordered, Index mix elements.
# 2. cannot perform operations like - Add, append, dupliucate, change, remove.
# 3. Immutable
# 4. Denoted with - ()

## Sets

In [ ]:
# 1. Unordered, Index mix elements.
# 2. No duplicate value is allowed
# 3. Elements are Immutable
# 4. Denoted with - {}
# 5. Set itself is mutable - We can add or remove elements

## DICTIONARIES

In [ ]:
# 1. Key and value {key:value}
# 2. Key should be Unique
# 3. Values can be duplicated. 
# 4. Denoted with {k:v}

## Length of Set

In [5]:
#Only unique values are considered

myset = {1,5,6,2,5,1,5,6,7,8}

print(myset)

len(myset)

{1, 2, 5, 6, 7, 8}

6

In [8]:
#Set of float numbers
# it will print the output in ascending order by default.

set1={10.2, 52.3, 08.41,41.5, 22.3, 49.7}
set1

{8.41, 10.2, 22.3, 41.5, 49.7, 52.3}

In [9]:
#Set of Strings

set2 = {"Manohar", "Sudhir", "Prem", "Shiva", "Manoj"}
set2

{'Manohar', 'Manoj', 'Prem', 'Shiva', 'Sudhir'}

In [12]:
#Set of mixed data type
#In mixed datatype - It will print the tuples first-->then Integer --> then string

set1 ={'ID',123,45.6, 'Rank',15 , 'Names', 2,1,3, ('Raju','Sham','Kiran')}

set1

{('Raju', 'Sham', 'Kiran'), 1, 123, 15, 2, 3, 45.6, 'ID', 'Names', 'Rank'}

In [13]:
#Set of mixed data type
# List elements cannot be printed in Sets
#In mixed datatype - It will print the tuples first-->then Integer --> then string

set1 ={'ID',123,45.6, 'Rank',15 , 'Names', 2,1,3, ['Raju','Sham','Kiran']}

set1

TypeError: unhashable type: 'list'

## Looping through Set

In [14]:
set1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

for i in set1:
    print(i)

Fourteen
Forty
two
Seven
one
Eight

## Enumerate in Set

In [16]:
set1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

for i in enumerate(set1):
    print(i)
    
 #there is no order in printing output in Sets.

(0, 'Fourteen')
(1, 'Forty')
(2, 'two')
(3, 'Seven')
(4, 'one')
(5, 'Eight')

## Set Membership operators

In [17]:
set1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

"Forty" in set1

True

In [18]:
set1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

"Three" in set1

False

In [19]:
# Using IF statement in Set Membership

set1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

if "one" in set1:
    print("The number is present in the set")
    
else:
    print("The number is NOT present in the set")

The number is present in the set

In [20]:
# Using IF statement in Set Membership

set1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

if "Ten" in set1:
    print("The number is present in the set")
    
else:
    print("The number is NOT present in the set")

The number is NOT present in the set

## Add Items

In [22]:
# To add single element in the set. then we use add()
# Syntax - set.add(new element)


set1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

set1.add("Five")

set1

{'Eight', 'Five', 'Forty', 'Fourteen', 'Seven', 'one', 'two'}

In [25]:
# To print multiple elements in the set, we use - update().
# Syntax - set.update([multiple element])

set2 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

set2.update(["Thirty","Sixty"])

set2

{'Eight', 'Forty', 'Fourteen', 'Seven', 'Sixty', 'Thirty', 'one', 'two'}

## Remove Item

In [30]:
# To remove single element in the set. then we use remove()
# Syntax - set.remove(single element)


set1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

set1.remove("one")

set1

{'Eight', 'Forty', 'Fourteen', 'Seven', 'two'}

## Discard - removes the item from the set

In [54]:
# To remove single element in the set. then we use discard()
# Syntax - set.discard(single element)

set2 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

set2.discard("Eight")

set2

{'Forty', 'Fourteen', 'Seven', 'one', 'two'}

## Clear

Deletes all the elements in the set.

In [38]:
set2 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

set2.clear()

print(set2)

set()

## Copy Set

In [42]:
## Copying set by creating new reference as new_set.
# In reference set, if we update/add and element to the set then the updated value is updated in reference set.

set_1 = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

new_set = set_1

print(new_set)

{'Fourteen', 'Forty', 'two', 'Seven', 'one', 'Eight'}

In [43]:
# Method 2

# In copy(), if we update/add and element to the set then the updated value is not updated in copy set.

set_a = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

new_set1 = set_a.copy() #creates the copy of set.

print(new_set1)

{'Fourteen', 'Forty', 'two', 'Seven', 'one', 'Eight'}

In [44]:
# Added a new element "two" in the set

set_a = {"Eight", "Forty","one", "two", "Seven", "Fourteen"}

set_a.add("two")

set_a

{'Eight', 'Forty', 'Fourteen', 'Seven', 'one', 'two'}

In [46]:
# Copied the above set in "newset".

newset = set_a.copy()

newset

{'Eight', 'Forty', 'Fourteen', 'Seven', 'one', 'two'}

In [47]:
# Added new element 25 in "set_a"
set_a.add(25)

set_a

{25, 'Eight', 'Forty', 'Fourteen', 'Seven', 'one', 'two'}

In [51]:
# When printed "newset" which is a copy od set_a, then it will not print the updated element in copied set.
# It did not print "25" in newset.

print(newset)

{'Fourteen', 'Forty', 'two', 'Seven', 'one', 'Eight'}

In [53]:
# When printing reference set newset1 then it is also printing the updated element 25 in the set.
# This is the advantage of reference set.

newset1 = set_a

newset1

{25, 'Eight', 'Forty', 'Fourteen', 'Seven', 'one', 'two'}

## Union of Set

In [72]:
# syntax - set1.union(set2) - most used and preffered method.

cars1 = set(["Swift","Brezza","Verna","Etios","Skoda"])
cars2 = set(["Etios","Creta","Thar","Swift","Brezza"])

cars1.union(cars2)

{'Brezza', 'Creta', 'Etios', 'Skoda', 'Swift', 'Thar', 'Verna'}

In [76]:
A= set(["one","two","three","four"])
B= set(["five","three","six","seven"])
C= set(["eight","nine","ten","eleven"])

print(A.union(B,C))

{'five', 'two', 'three', 'seven', 'one', 'nine', 'six', 'eight', 'four', 'ten', 'eleven'}

In [61]:
# Union function prints all the elements in both sets and removes duplicate.

set_fruits1 = set (["Apple","Banana","Mango","Kiwi","Papaya","Orange"])
set_fruits2 = set (["Guvava","Orange","Santra","Grapes","Banana","Melons"])

new_set = set_fruits1|set_fruits2

print(new_set)

{'Santra', 'Melons', 'Papaya', 'Grapes', 'Apple', 'Mango', 'Orange', 'Guvava', 'Banana', 'Kiwi'}

## Intersection of Set

- merges the elements and prints the common elements of set.

In [81]:
# Syntax- set1.intersection(set2) - most preferred method.

cars1 = set(["Swift","Brezza","Verna","Etios","Skoda"])
cars2 = set(["Etios","Creta","Thar","Swift","Brezza"])

cars1.intersection(cars2)

{'Brezza', 'Etios', 'Swift'}

In [65]:
#Method - 2
cars1 = set(["Swift","Brezza","Verna","Etios","Skoda"])
cars2 = set(["Etios","Creta","Thar","Swift","Brezza"])

newcars = cars1 & cars2
newcars

{'Brezza', 'Etios', 'Swift'}

In [69]:
# Prints the common elements in integers type
a = set([1,2,4,5,6,7])
b = set([4,6,9,3,1,2])

numbers = a & b

numbers

{1, 2, 4, 6}

## Difference of Sets

- When you perform a difference operation on two sets, you get a new set that has only the items from the first set and none from the second.

In [82]:
# It eliminates the common elements present in both sets and print only set1 elements.
#Method 1 - Most preferred

a = set([1,2,4,5,7])
b = set([4,6,9,3,0])

a.difference(b)

{1, 2, 5, 7}

In [74]:
# It eliminates the common elements present in both sets and print only set1 elements.
# Method - 2

a = set([1,2,4,5,7])
b = set([4,6,9,3,0])

numbers = a - b

numbers

{1, 2, 5, 7}

In [77]:
A= set(["one","two","three","four"])
B= set(["five","three","six","seven"])

new = A-B
new

{'four', 'one', 'two'}

## Update the Set

In [78]:
# Here A is updated with all the elements present in the B and C.
A = {1,2,3,4,1,5}
B = { 6,7,8}
C = {9,10,11,12,14}

A.update(B,C)

print(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}

In [79]:
# Here A is updated with all the elements present in the B.

A = set(["one","two","three","four"])
B = set(["five","three","six","seven"])

A.update(B)
print(A)

{'five', 'two', 'three', 'seven', 'one', 'six', 'four'}