## Split

In [2]:
mystr="Apple banana grapes berries"
test1=mystr.split()
print(test1)

['Apple', 'banana', 'grapes', 'berries']

## Join - Removes the spaces between each element in the string

In [7]:
# Note: the string should be seperated by comas when there is multple string elements.

new_str='Apple', 'banana', 'grapes', 'berries'
test2="".join(new_str)
test2

'Applebananagrapesberries'

In [6]:
# If we want to join the String with a specific keys then we can use ( ',' '-' '_' etc.. in double quotes "")
# I have used "-" to seperate the string

new_str='Apple', 'banana', 'grapes','berries'
test2="-".join(new_str)
test2

'Apple-banana-grapes-berries'

In [18]:
# Print the below string in reverse order

fruits="Apple banana grapes berries"

" ".join([i[::-1]  for i in fruits.split()])

'elppA ananab separg seirreb'

In [16]:
# Print the below string (full sentence) in reverse order

sweet="rasgulla gulabjamun kheer laddo"

" ".join(sweet.split()[::-1])

'laddo kheer gulabjamun rasgulla'

In [11]:
# Change of string Case

# Change to Upper Case

str1="Hello World"
new1=str1.upper()
print(new1)

HELLO WORLD

In [12]:
# Change to Lower Case

str2="HAPPY FRIDAY"
new2=str2.upper()
print(new2)

HAPPY FRIDAY

In [13]:
# Change to Title Case (Every 1st letter of the word is converted to Capital letter)

str2="HAPPY FRIDAY"
new2=str2.upper()
print(new2)

Happy Birthday

In [16]:
# Replace the words in the string

str3="HAPPY FRIDAY"
print(str3.replace('HA','HE'))

HEPPY FRIDAY

In [18]:
#Removes the sapces in the string

str="HAPPY FRIDAY"
print(str.replace(' ',''))

HAPPYFRIDAY

In [23]:
# Count string - This functions counts the string occurance time in the given string

str5="One day I went with one of my two friends but those two guys did not come"
print(str5.count("two"))
print(str5.count("one"))

2
1

In [28]:
# Cast Operator (It conversts String into List) (Splits the every Alphabet with coma)

news="Good Day"
new1=list(news)
print(new1)

['G', 'o', 'o', 'd', ' ', 'D', 'a', 'y']

In [40]:
# Checking Starting and Ending of a String:
    
a="python is my favourite"
b=a.startswith('python')
print(b)
c=a.endswith('favourite')
print(c)

True
True

In [49]:
# Replacing a String with another String:

ABC='My name is Manohar'
A1='Manohar'
B1='Sudhir'
New_Name=ABC.replace(A,B)
print(New_Name)

My name is Sudhir

## F string

In [53]:
# 3 ways to format a string (most preffered is 1st and 3rd method)

name="Manohar"
Age=24

#1
print("My name is {} and Age is {}".format(name,Age))

#2 Normal string
print("My name is",name, "and Age is",Age)

#3 F-String
print(f'My name is {name} and Age is {Age}')

My name is Manohar and Age is 24
My name is Manohar and Age is 24
My name is Manohar and Age is 24

In [89]:
# Sort the string

name1="manohar"
name2=sorted(name1)
name2

['a', 'a', 'h', 'm', 'n', 'o', 'r']

## Sort  and  Join

In [1]:
# If I want to join the string

name="badminton"
newname1=sorted(name)
print(newname1)

newname2="".join(sorted(name))
print(newname2)

['a', 'b', 'd', 'i', 'm', 'n', 'n', 'o', 't']
abdimnnot

In [122]:
# Sort a List

list1=["master","guru","teacher","god"]
list2=sorted(list1)
print(list2)

['god', 'guru', 'master', 'teacher']

## Strip - Removes Spaces in the string at starting & ending

In [10]:
mystr=" *--Apple banana grapes berries--* *- "
new=mystr.strip()

print(new)

*--Apple banana grapes berries--* *-

In [12]:
#left Shift - It removes the spaces at the beggining of the string

mystr="     Apple banana grapes berries--* *- "
new=mystr.lstrip()

print(new)

Apple banana grapes berries--* *-

In [13]:
#Right Shift - It removes the spaces at the beggining of the string

mystr="**Apple banana grapes berries**       "
new=mystr.rstrip()

print(new)

**Apple banana grapes berries**