## List

In [29]:
# Types of list
#List of float numbers

list1=[10.2, 52.3, 41.5, 22.3, 49.7]
list1

[10.2, 52.3, 41.5, 22.3, 49.7]

## List of Strings

In [30]:
#List of Strings

list2 = ["Manohar", "Sudhir", "Prem", "Shiva", "Manoj"]
list2

['Manohar', 'Sudhir', 'Prem', 'Shiva', 'Manoj']

## Nested List

In [31]:
#Nested List

list3 = ["Games", 70, [25,46], [57,74]]
list3

['Games', 70, [25, 46], [57, 74]]

## List of mixed data type

In [36]:
#list of mixed data type (String, Float, Intiger , set of integers, set of Strings)

list4 = ["Name", 25, 42.3, [78, 45.3], {"One", "Two"} ]
list4

['Name', 25, 42.3, [78, 45.3], {'One', 'Two'}]

## To access particular the elements in the list

In [9]:
#In order to access the elements in the list we just need to do:

list3 = ["Games", 70, [25,46], [57,74]]
list3[1]

#It is accessing the 1st index value in the list. List starts from 0,1,2,..n

70

## To access Nested the elements in the list

In [40]:
#In order to access the elements in the nested list we just need to do:

list3 = ["Games",70,[25,46], [57,74],["Play",58]]
list3[4][0]

#It is accessing the 2nd index element, in that it is accessing 1st character i.e (0th index Value).

'Play'

In [13]:
#it is accesing the last element, in that it is accessing the 2nd Character(1st index Value).

list3 = ["Games",70,[25,46], [57,74]]
list3[-1][1]

74

## List Slicing

In [18]:
mylist = ["apple", "mango", "banana", "grapes", "berries", "oranges"]

mylist[0:3] #it will print every element from 0th index position till 3rd index postion

['apple', 'mango', 'banana']

In [25]:
mylist[3]  #print the 3rd element in the list

'grapes'

In [16]:
mylist[0:5:2] #it will jump every second element

['apple', 'banana', 'berries']

In [26]:
mylist[:6] #it will print every element from starting bcz we haven't given the starting index value.

['apple', 'mango', 'banana', 'grapes', 'berries', 'oranges']

In [19]:
mylist[2:]  #it will print every element from starting 2nd element till last element in the list

['banana', 'grapes', 'berries', 'oranges']

In [20]:
mylist[::] #prints all the elements of the list in Forward direction.

['apple', 'mango', 'banana', 'grapes', 'berries', 'oranges']

In [24]:
mylist[::-1] #prints all the elements of the list in Reverse direction.

['oranges', 'berries', 'grapes', 'banana', 'mango', 'apple']

In [21]:
mylist[::2] #jump to every 2nd element in the list

['apple', 'banana', 'berries']

In [22]:
mylist = ["apple", "mango", "banana", "grapes", "berries", "oranges"]
mylist[-3:] 

#it will print in reverse direction from -3 till end of the list

['grapes', 'berries', 'oranges']

In [23]:
mylist = ["apple", "mango", "banana", "grapes", "berries", "oranges"]
mylist[:-3] 

#it will print the elements from -3 till starting of the list

['apple', 'mango', 'banana']

## Range() in List

In [41]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [42]:
#jump to every 2nd element
for i in range(3,10,2):
    print(i)

3
5
7
9

In [43]:
#To print a list using range()

New = list(range(7,16,2))
print(New)

[7, 9, 11, 13, 15]

## List using For loop and range function

In [52]:
# list using For loop and range function

list1 = range(12)

for i in list1:
        print(i,",", end=" ")

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 ,

In [56]:
#to print in particular range

list2 = range(3,9)

for i in list2:
        print(i,",", end=" ")

3 , 4 , 5 , 6 , 7 , 8 ,

In [57]:
#to print in particular range and jump to every 2nd element.

list3 = range(3,15,2)

for i in list3:
        print(i,",", end=" ")

3 , 5 , 7 , 9 , 11 , 13 ,

## Add, Remove and Change the elements in the list

## Add

In [65]:
list2 = ["bottle","Car", "John", "Peter", "Michael"]

list2.append("Ross") #append adds the new element at the end of the list.

print(list2)

['bottle', 'Car', 'John', 'Peter', 'Michael', 'Ross']

## Insert

In [ ]:

#If I want to print the element anywhere in the middle of list then we define index then the list element
#here I have inserted the "Apple" at 2nd Index

list2 = ["bottle","Car", "John", "Peter", "Michael", "Ross"]
list2.insert(2,"Apple")

list2

## Remove

In [69]:
#It will remove the element that is already present in the list.
#Removed the "Car" from the list.

list2 = ["Apple", "bottle","Car", "John", "Peter", "Michael", "Ross"]
list2.remove("Car")

list2

['Apple', 'bottle', 'John', 'Peter', 'Michael', 'Ross']

## Pop

In [71]:
# Pop removed the last element present in the list

list2 = ["bottle","Car", "John", "Peter", "Michael", "Ross"]
list2.pop()

list2

['bottle', 'Car', 'John', 'Peter', 'Michael']

## Change the value of String

In [74]:
# Changed the element value at 0th and 2nd index from bottle to Jack & John to Sam.

mylist = ["bottle","Car", "John", "Peter", "Michael", "Ross"]

mylist[2] = "Sam"
mylist[0] = "Jack"
mylist

['Jack', 'Car', 'Sam', 'Peter', 'Michael', 'Ross']

## Clear

In [75]:
#Deletes all the elements from the list.

mylist = ["bottle","Car", "John", "Peter", "Michael", "Ross"]
mylist.clear()

mylist

[]

## Concatinating and Join the Lists

In [53]:
#Method 1 - To join the different list

list1 = ('one', 'two', 'three', 'four')
list2 = ('five', 'six', 'seven', 'eight')
list3 = list1 + list2 

list3

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [65]:
#Method 2 - To join the different list - (Joining list2 with list1.0)

list1 = ('one', 'two', 'three', 'four')
list2 = ('five', 'six', 'seven', 'eight')

list1.extend(list2)

AttributeError: 'tuple' object has no attribute 'extend'

In [24]:
#Join method to convert the list into string.

new_str = ["Basketball", "Table Tennis", "Cricket", "Football","Volleyball"]

new = "-".join(new_str)

print(new)

Basketball-Table Tennis-Cricket-Football-Volleyball

## List Membership - To find whether elements are present in the list.

In [26]:
newlist = ["Basketball", "Table Tennis", "Cricket", "Football","Volleyball"]

"Cricket" in newlist

True

In [27]:
newlist = ["Basketball", "Table Tennis", "Cricket", "Football","Volleyball"]

"Soccer" in newlist

False

## List membership using If conditon

In [28]:
# List membership using If conditon

newlist = ["Basketball", "Table Tennis", "Cricket", "Football","Volleyball"]

if "Basketball" in newlist:
    print("Element is present in the list")
    
else:
    print("Element is not present in the list")

Element is present in the list

## Reverse in list

In [30]:
#Arrange the list elements in reverse order (last to first)

num_list = [52,4,69,47,23,7,13,21]

num_list.reverse()

print(num_list)

[21, 13, 7, 23, 47, 69, 4, 52]

In [32]:
#Method2
num_list = [52,4,69,47,23,7,13,21]

num_list[::-1]

[21, 13, 7, 23, 47, 69, 4, 52]

## Sort the list

## Sort() - Arrange the elements in Ascending order

In [33]:
#By default sort function will arrange the elements in ascending order.

num_list = [52,4,69,47,23,7,13,21]

num_list.sort()

num_list

[4, 7, 13, 21, 23, 47, 52, 69]

## Reverse sort - Arrange in Descending order.

In [34]:
# Reverse sort - Arrange in Descending order.

num_list = [52,4,69,47,23,7,13,21]

num_list.sort(reverse=True)

num_list

[69, 52, 47, 23, 21, 13, 7, 4]

## Sorted

In [37]:
#using "Sorted" - It will arrange the elements in Ascending order

num_list1 = [2,4,69,47,23,7,13,22]

sorted(num_list1)

[2, 4, 7, 13, 22, 23, 47, 69]

## Loop through list

In [38]:
list1 = ["Eight", "Forty","one", "two", "Seven", "Fourteen"]

for i in list1:
    print(i)

Eight
Forty
one
two
Seven
Fourteen

## Enumerate

In [41]:
#Enumerate is used to show the index value of the elements.

list1 = ["Eight", "Forty","one", "two", "Seven", "Fourteen"]

for i in enumerate(list1):
    print(i)

(0, 'Eight')
(1, 'Forty')
(2, 'one')
(3, 'two')
(4, 'Seven')
(5, 'Fourteen')

## Count
Count is used to find the number of times the particular element occured in the list

In [43]:
list2 = ["Eight", "one", "Forty","one", "two", "Seven","one", "Fourteen","two"]

print(list2.count("one"))

# "one" occurred 3 times in the list.

3

## Count using For loop

In [71]:
lista = ["Eight", "one", "Forty","one", "two", "Seven","one", "Fourteen","two"]

c=0
for i in lista:
    if ("one"==i):
        c+=1
print("{} is present {} times in the lista.".format("one",c))

one is present 3 times in the lista.

In [79]:
lista = ["Eight", "one", "Forty","one", "two", "Seven","one", "Fourteen","two"]
print(lista.count("two"))

# "two" occurred 2 times in the list.

2

In [81]:
lista = ["Eight", "one", "Forty","one", "two", "Seven","one", "Fourteen","two"]
print(lista.count("Seven"))

1

## Common elements present in two different list

In [77]:
#Example in Integer type. (First we need to convert "List" into "Set")

list1= [36,25,40,50,70,88]
list2= [23,36,70,33,40,88]

new1 = set(list1)
new2 = set(list2)

new_list = new1.intersection(new2)
print(new_list)

#Note - List are order (can be arranged in sequence)
#Set cannot be arranged in sequence - it gives output unordered. 
# Below elements are present common in the list

{40, 88, 36, 70}

In [78]:
#Example in String type.

list1= ["Eight", "Forty","One", "two", "Seven", "Five"]
list2= ["Nine", "two","One", "Five", "Seven", "Fourteen"]

new1 = set(list1)
new2 = set(list2)

new_list = new1.intersection(new2)
print(new_list)

#Note - List are order (can be arranged in sequence)
#Set cannot be arranged in sequence - it gives output unordered.
# Below are present common elements present in the list

{'Five', 'One', 'Seven', 'two'}

## Index 
Gives the index value of the mentioned element in the brackets

In [68]:
list1 = ["Eight", "Forty","one", "two", "Seven", "Fourteen"]

list1.index("one")

2

## List Comprehensions

## To print Even number from 1-20.

In [108]:
#syntax - Variable = [ item loop condition]

# To print Even number from 1-20.

Even_list= [i  for i in range (1,20) if i % 2 == 0]
Even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## To print Odd number from 1-20.

In [109]:
# To print Odd number from 1-20.

odd_list= [i  for i in range (1,20) if i % 2 == 1]
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Calculate the sqaure of 1-10 numbers.

In [110]:
sq_list = [i**2 for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Using list comprehension - Multiply whole list by a certain number

In [112]:
list1 = [1,2,3,5,4,6,7,9,3]
list1 = [i*10 for i in list1]
list1

[10, 20, 30, 50, 40, 60, 70, 90, 30]

## List all the number btw 1-200 which are divisible by 3, 6, 9, and 12

In [116]:
list_new = [i for i in range(200) if i % 3==0 if i % 6==0 if i % 9==0 if i % 12==0]

print(list_new)

[0, 36, 72, 108, 144, 180]

## Print ODD and Even number in the range of 10

In [121]:
o_list = [print("{} is Even number ".format(i)) if i % 2==0 else print("{} is Odd number ".format(i)) for i in range(10)]
o_list

0 is Even number
1 is Odd number
2 is Even number
3 is Odd number
4 is Even number
5 is Odd number
6 is Even number
7 is Odd number
8 is Even number
9 is Odd number

[None, None, None, None, None, None, None, None, None, None]

## Extract number from the string.

In [123]:
# Example - 1

o_str = "Hello 1 my 2 name 6 is 7 Manohar 99 I am Happy to learn 7 Python"

o_str = [i for i in o_str if i.isdigit()]

print(o_str)

['1', '2', '6', '7', '9', '9', '7']

In [137]:
# Example - 2

age = "45689"
for i in age:
    print(i)
    
print(age.isdigit())

4
5
6
8
9
True

## Extract Letters from String.

In [3]:
str1 = "My name is John"

str1 = [i for i in str1 if i.isalpha()]
print(str1)

['M', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'J', 'o', 'h', 'n']

## All function in List

In [2]:
# if all the elements in the list are "True" then all function prints - True in "any()"

all([True,True,True])

True

In [143]:
# # if any one of the elements in the list is "False" then it prints - False in "any()"

all([True,True,False])

False

## Example of All()

In [146]:
list1 = [11,11,11,11,11]

all([list1])

True

## Any Function in List

In [144]:
# if any one the elements in the list is "True" then it prints - True

any([True,True,False])

True

## Example of Any()

In [1]:
list1 = [11,12,11,13,11,14,11]

any([list1])

True

## Write a program to move all zeros to end of the list

In [32]:

list1 = [5,0,40,69,0,47,23,0,7,13,0,22]

k = 0
for i in list1:
    if i:
        list1[k] = i
        k=k+1
for i in range(k, len(list1)):
        list1[i] = 0

print(list1)

[5, 40, 69, 47, 23, 7, 13, 22, 0, 0, 0, 0]