## Tuple()

Tuples are similar to lists but the main difference is tuples are immutable whereas lists are mutable.

Once we create a tuple we cannot modify its elements.

we cannot perform operations like append(), extend(), insert(), remove(), pop() arid clear() on tuples.

In [1]:
tupl = (1,2,3,5,78)
print(tupl)

(1, 2, 3, 5, 78)

In [2]:
#Tuple of float numbers

tup=(10.2, 52.3, 41.5, 22.3, 49.7)
tup

(10.2, 52.3, 41.5, 22.3, 49.7)

In [3]:
#Tuple of Strings

tup1 = ["Manohar", "Sudhir", "Prem", "Shiva", "Manoj"]
tup1

['Manohar', 'Sudhir', 'Prem', 'Shiva', 'Manoj']

In [4]:
#Nested List

tup2 = ("Games", 70, [25,46], [57,74])
tup2

('Games', 70, [25, 46], [57, 74])

## Tuple of mixed data type

In [6]:
#Tuple of mixed data type (String, Float, Intiger , set of integers, set of Strings)

tup3 = ("Name", 25, 42.3, [78, 45.3], {"One", "Two"} )
tup3

('Name', 25, 42.3, [78, 45.3], {'One', 'Two'})

## To find length of Tuple

In [7]:
tup3 = ("Name", 25, 42.3, [78, 45.3], {"One", "Two"} )

len(tup3)

5

## To access Nested the elements in the Tuple

In [8]:
#In order to access the elements in the nested Tuple we just need to do:

tup4 = ("Games",70,[25,46], [57,74],["Play",58])
tup4[4][0]

#It is accessing the 2nd index element, in that it is accessing 1st character i.e (0th index Value).

'Play'

## Tuple Slicing

In [9]:
mytup = ("apple", "mango", "banana", "grapes", "berries", "oranges")

mytup[0:3] #it will print every element from 0th index position till 3rd index postion

('apple', 'mango', 'banana')

In [10]:
mytup[3] #print the 3rd element in the tuple

'grapes'

In [11]:
mytup[0:5:2] #it will jump every second element

('apple', 'banana', 'berries')

In [12]:
mytup[:6] #it will print every element from starting bcz we haven't given the starting index value.

('apple', 'mango', 'banana', 'grapes', 'berries', 'oranges')

In [13]:
mytup[2:]  #it will print every element from starting 2nd element till last element in the tuple

('banana', 'grapes', 'berries', 'oranges')

In [14]:
mytup[::] #prints all the elements of the tuple in Forward direction.

('apple', 'mango', 'banana', 'grapes', 'berries', 'oranges')

In [15]:
mytup[::-1] #prints all the elements of the tuple in Reverse direction.

('oranges', 'berries', 'grapes', 'banana', 'mango', 'apple')

In [16]:
mytup[::2] #jump to every 2nd element in the tuple

('apple', 'banana', 'berries')

In [17]:
mytup = ["apple", "mango", "banana", "grapes", "berries", "oranges"]
mytup[-3:] 

#it will print in reverse direction from -3 till end of the tuple

['grapes', 'berries', 'oranges']

In [18]:
mytup = ["apple", "mango", "banana", "grapes", "berries", "oranges"]
mytup[:-3] 

#it will print the elements from -3 till starting of the tuple

['apple', 'mango', 'banana']

## Tuple Count

In [23]:
tuple1 = ("Eight", "one", "Forty","one", "two", "Seven","one", "Fourteen","two")

print(tuple1.count("one"))

# "one" occurred 3 times in the tuple.

3

In [24]:
print(tuple1.count("two"))

2

In [25]:
print(tuple1.count("Forty"))

1

## Minumum and Maximum - Tuple 

To perform this Minimum or Maximum tuple the elements should of same type i.e either "Integer: or "Float"

In [48]:
# To find the Minimum in the tuple.

tup_num = (53,45,125,48,69,6,4,88,75)

min(tup_num)

4

In [49]:
# To find the Maximum in the tuple.

tup_num = (53,45,125,48,69,6,4,88,75)

max(tup_num)

125

## Tuple - Member operator

In [26]:
new_tup = ("Basketball", "Table Tennis", "Cricket", "Football","Volleyball")

"Cricket" in new_tup

True

In [27]:
"Football" in new_tup

True

In [28]:
"Racing" in new_tup

False

## Tuple membership using If conditon

In [29]:

newtp = ("Basketball", "Table Tennis", "Cricket", "Football","Volleyball")

if "Basketball" in newtp:
    print("Element is present in the Tuple")
    
else:
    print("Element is not present in the Tuple")

Element is present in the Tuple

In [30]:
newtp = ("Basketball", "Table Tennis", "Cricket", "Football","Volleyball")

if "Racing" in newtp:
    print("Element is present in the Tuple")
    
else:
    print("Element is not present in the Tuple")

Element is not present in the Tuple

## Sort the Tuple

## Sort() - Arrange the elements in Ascending order

In [36]:
#By default sort function will arrange the elements in ascending order.

num_tup = (52,4,69,47,23,7,13,21)

sorted(num_tup)

[4, 7, 13, 21, 23, 47, 52, 69]

In [41]:
# Reverse sort - Arrange in Descending order.

num_tup = (52,4,69,47,23,7,13,21)

sorted(num_tup, reverse=True)

[69, 52, 47, 23, 21, 13, 7, 4]

## Example of sort in Nested Tuple

In [45]:
#Sort the nested tuple by sorting the every 2nd element in the nested tuple.

new_tuple = ([12,5], [41,12],[6,14], [74,23],[25,1])

new_tup= sorted(new_tuple, key = lambda x:x[1])

new_tup

[[25, 1], [12, 5], [41, 12], [6, 14], [74, 23]]

In [46]:

#Sort the nested tuple by sorting the every 1st element in the nested tuple.

new_tuple = ([12,5], [41,12],[6,14], [74,23],[25,1])

new_tup= sorted(new_tuple, key = lambda x:x[0])

new_tup

[[6, 14], [12, 5], [25, 1], [41, 12], [74, 23]]

## Sorting different data types in Nested Tuples

In [10]:
emp_details = ((410, "Manohar", 25.4), (401, "Sudhir", 23.9), (408, "Ram", 51.2))

print(sorted(emp_details))
print(sorted(emp_details, reverse = True))
print(sorted(emp_details, key=lambda x:x[1]))
print(sorted(emp_details, key=lambda x:x[2]))

[(401, 'Sudhir', 23.9), (408, 'Ram', 51.2), (410, 'Manohar', 25.4)]
[(410, 'Manohar', 25.4), (408, 'Ram', 51.2), (401, 'Sudhir', 23.9)]
[(410, 'Manohar', 25.4), (408, 'Ram', 51.2), (401, 'Sudhir', 23.9)]
[(401, 'Sudhir', 23.9), (410, 'Manohar', 25.4), (408, 'Ram', 51.2)]

## Loop through Tuple

In [42]:
tuple2 = ("Eight", "Forty","one", "two", "Seven", "Fourteen")

for i in tuple2:
    print(i)

Eight
Forty
one
two
Seven
Fourteen

## Enumerate in Tuple

In [44]:
#Enumerate is used to show the index value of the elements.

tuple2 = ("Eight", "Forty","one", "two", "Seven", "Fourteen")

for i in enumerate(tuple2):
    print(i)

(0, 'Eight')
(1, 'Forty')
(2, 'one')
(3, 'two')
(4, 'Seven')
(5, 'Fourteen')