## Statements    ##

In [8]:
# If Statement

x=12
y=15

if x>y:
    print("x is greater than y")
    
else:  
    print("y is greater than x")

y is greater than x

In [15]:
# If statement using comparison operators

age1=18
age2=25
age3=32

# AND Operator

if age3 > 25 and age3 <= 30:
    print("You are ready for marriage")
    
else:
    print("You need to wait till 25")
    
# OR Operator

if age3 > 25 or age3 <= 30:
        print("You are ready for marriage")
    
else:
    print("You need to wait till 25")

You need to wait till 25
You are ready for marriage

In [40]:
# Elif

# In If Statement, if there are multiple statements in "IF" or "ELIF" part then it will return only the first statement 
# which is true even other statements are true  
# even other statements are true   

a=16
b=18

if a > b:
     print("a is greater than b")
    
elif a == b:
    print("a is equal b")
    
elif a <= b:
    print("a is less than b")   #Here the condition is satisfied and printed the statement
    
elif a < b:
    print("a is not equal b")  #Here aslo the condition is satisfied but didn't print the statement
    
elif a >= b:
    print("a is geater than or equal b")

a is less than b

# Loops

## While loop

In [2]:
# While loops execute the set of statements as long as the condition is true.

x=2

while x<=10:   #executing till x<=10
    
    print(x)
    
    x+=2        #x=x+2,

2
4
6
8
10

In [2]:
# While loop with AND Condition
#Eg-1

x=20

while x>=18 and x<=30:
    
    print(x)
    
    x+=2

20
22
24
26
28
30

In [1]:
# While loop with AND Condition
#Eg-2

A=100

while A>=100 and A<=118:
    print(A)
    
    A+=5

100
105
110
115

## For loop

In [27]:
#For Loop in List

#it prints the different datatypes in the list.

vehicles=["car","Bike","Bus","Bullet",77,20.5,True]

for item in vehicles:
    print(item)

car
Bike
Bus
Bullet
77
20.5
True

In [6]:
#For Loop in String

Food_name="Biryani"

for item in Food_name:
    
    print(item)

B
i
r
y
a
n
i

In [10]:
#For Loop in Range Function
#Eg-1
for abc in range(6):
    print(abc)

0
1
2
3
4
5

In [13]:
#Eg-2
#here range is from 8 to 18 but it is jumping to every 2nd element of the given range.

for i in range(8,18,2):
    print(i)

8
10
12
14
16

In [20]:
#For Loop in Range Function in String
#Method 1

people="Country"

for i in range(len(people)):
    print(people[i])

C
o
u
n
t
r
y

In [21]:
#For Loop in Range Function in String
#Method 2

str="Manu"
n=len(str)

for i in range(n):
    print(str[i])

M
a
n
u

In [26]:
#For Loop in Range Function to print numbers in reverse order.
#in order to print the numbers in reverse order it is mandatory to give negative step number (-1 or -2 etc.)

for i in range(18,5,-2):
    print(i)

18
16
14
12
10
8
6

In [46]:
#For Loop in List for sum of multiple numbers

Total_Marks=[10,15,23,45,89,12]

sum=0

for item in Total_Marks:
    print(item)
    
    sum+=item
    
print("Total_Marks =",sum)

10
15
23
45
89
12
Total_Marks = 194

In [45]:
# While loop the above example

Marks=[12,18,23,45,29,32]

sum=0
i=0

while i < len(Marks):
    print(Marks[i])
    sum+=Marks[i]
    i+=1
    
print("Total sum =", sum)

12
18
23
45
29
32
Total sum = 159

In [48]:
i=2

while i<=10:
    print(i)
    i+=2

2
4
6
8
10

## Nested Loop

In [60]:
# In Nested Loop, the inner loop is executed and then outer loop is executed

for i in range(2):
    print(i, "-->I")
    
    for j in range(3):
        print(j, "J Loop")
        
        for p in range(2):
            print(p, "CC")

0 -->I
0 J Loop
0 CC
1 CC
1 J Loop
0 CC
1 CC
2 J Loop
0 CC
1 CC
1 -->I
0 J Loop
0 CC
1 CC
1 J Loop
0 CC
1 CC
2 J Loop
0 CC
1 CC

In [66]:
# Nested loop 
# Eg-2

colors=["Red","White", "Blue"]
animals=["Tiger","Lion","Elephant"]

for i in colors:
    print("------")
    print(i)
    
    print("------")
    for j in animals:
        
        print(j)

------
Red
------
Tiger
Lion
Elephant
------
White
------
Tiger
Lion
Elephant
------
Blue
------
Tiger
Lion
Elephant

## Break

In [32]:
#in "Break" the condition stops the execution one step before the mentioned item in the list.


Game=["Cricket", "Football", "Badminton","catch","Tennis"]

for x in Game:
    
    if x == "Football":
        
         break
            
    print(x)

Cricket

In [40]:
#use of Break statement in For loop Range
# It will print the loop from 1 to 7 and stops executing there onwards

for i in range(10):
    if i==8:
        break
    print(i)

0
1
2
3
4
5
6
7

In [91]:
#use of Break statement in For loop in String

for item in "market":
    if item =="k":
        break
    print(item)
    
print("Stop")

m
a
r
Stop

In [124]:
#use of Break statement in while loop
i=1
while i<10:
    
    i+= 1   
    print(i)
    
    if i == 7:
        break

2
3
4
5
6
7

## Continue Statement

In [139]:
# In this statement, it is excluding the word which is Telangana and printing remaining elements in the list
# Ex-1
States=["Punjab","Andhra","Telangana","Orrisa", "MP"]

for S in States:
    
     if S == "Telangana":
     
       continue
    
     print(S)

Punjab
Andhra
Orrisa
MP

In [152]:
# Ex-2 Continue statement Using While loop

x=0
while x<12:
    x+=1
    if x > 6:
        continue
   
    print("X=",x)
print("Exit Loop")

X= 1
X= 2
X= 3
X= 4
X= 5
X= 6
Exit Loop